@font-face{
    font-family: "Roboto-Thin";
    src: url("../Font/Roboto-Thin.ttf");
}
@font-face{
    font-family: "Roboto-Light";
    src: url("../Font/Roboto-Light.ttf");
}
.titel{
    margin-top: 50px;
    text-align: center;
    font-family: "Roboto-Thin";
    font-size: 50px;
    color: gray;
}
.btnstart{
    border-radius: 5px;
    margin-top: 150px;
    margin-left: 640px ;
    font-size: 20px;
    font-family: "Roboto-Light";
    background-color: rgb(29, 158, 29);
    height: 32px;
    width: 90px;
    text-align: center;
    box-shadow: 0 0 20px 2px rgb(68, 68, 68); 
}
.btnstart:hover
{
    border-radius: 25px;
    box-shadow: 0 0 20px 2px rgb(68, 68, 68);
    background-color: rgb(17, 95, 17);
}
.profil{
    margin-top: 10px;
    height:90px;
    width:90px;
    border-radius: 65px;
    background: white;
}
.profil img{
    margin-left: 20px;
    margin-top: 10px;
}
.profil h2{
    font-family: "Roboto-Thin";
    text-align: center;
    color: grey;
}
.scroll{
    position: relative;
    display: inline-block;
}
.showlogin{
    display: none;
    position: absolute;
    left:40px;
    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 50px 56px;
    z-index: 1;
}

.scroll:hover .profil{
    background: rgba(51, 51, 51, 0.233);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}
.scroll:hover .showlogin{
    display:block
}
 .formdes input[type="text"],
        .formdes input[type="password"] {
            font-family: "Roboto-Light";
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            outline: none;
            display: block;
            border: none;
            width: 100%;
            background: transparent;
            border-bottom: 1px solid rgba(51, 51, 51,0.4);
            margin-bottom: 10px;
        }
.formdes input[type="submit"] {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 100%;
            padding: 3%;
            background: #43D1AF;
            border-top-style: none;
            border-right-style: none;
            border-left-style: none;
            color: #fff;
            border-radius: 30px;
            box-shadow: 0 0.1px 30px 0px rgba(51, 51, 51, 0.445);
        }
.formdes input[type="submit"]:hover{
    background: rgb(51, 160, 134);
}